ion-header{
  background-color: aqua;
  text-align: center;
  font-size: large;
  height: 25px;
  margin: 25px;
}

.quiz1{
  background-color:greenyellow;
  height: fit-content;
  margin: 5px;
  text-align: center;

}
ion-navbar{
  background-color: rgba(63, 57, 146, 0.904);
  color: black;
  text-align: center;
}