<ion-content>
    <ion-toolbar>
        <ion-navbar>
        <ion-title>STUDENTS QUIZ</ion-title>
        </ion-navbar>
    </ion-toolbar>
<ion-grid >
    <ion-row>
    <ion-col  class="quiz1">
        QUIZ1
        <ion-button (click)="gotoQuiz(1)">
            start
        </ion-button>
    </ion-col>

    <ion-col class="  quiz1">
        QUIZ2
        <ion-button (click)="gotoQuiz(2)">
            start
        </ion-button>
    </ion-col>

    <ion-col class="quiz1">
        QUIZ3
        <ion-button (click)="gotoQuiz(3)">
            start
        </ion-button>
    </ion-col>
</ion-row>
</ion-grid>
